<!DOCTYPE html>
<html ng-app="store">
  <head>
  </head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  <body ng-controller="StoreController as store">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="product in store.products">
        <h3 ng-include="'product-title.html'">
        </h3>
        <img ng-src="{{product.images[0].full}}"/>

      <section ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
          <li ng-class="{ active: panel.isSelected(1)}">
            <a href ng-click="panel.selectTab(1)">Description</a>
          </li>
          <li ng-class="{ active: panel.isSelected(2)}">
            <a href ng-click="panel.selectTab(2)">Specification</a>
          </li>
          <li ng-class="{ active: panel.isSelected(3)}">
            <a href ng-click="panel.selectTab(3)">Reviews</a>
          </li>
        </ul>
        <div class="panel" ng-show="panel.isSelected(1)">
          <h4>Description</h4>
          <blockquote>{{product.description}}</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(2)">
          <h4>Specifications</h4>
          <blockquote>None yet</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(3)">
          <ul>
            <h4>Reviews</h4>
            <blockquote ng-repeat="review in product.reviews">
              <b>Stars: {{review.stars}}</b>
              {{review.body}}
              <cite>by: {{review.author}}</cite>
            </blockquote>
          </ul>
          <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                                  ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)"
                                  novalidate>
            <blockquote>
              <strong>{{reviewCtrl.review.stars}} Stars</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">-{{reviewCtrl.review.author}}</cite>
            </blockquote>
            <fieldset class="form-group">
              <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars"
                                           ng-model="reviewCtrl.review.stars"
                                           required>
                <option value="">Rate the Product</option>
              </select>
            </fieldset>
            <fieldset class="form-group">
              <textarea class="form-control" ng-model="reviewCtrl.review.body" required></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control" type="email" ng-model="reviewCtrl.review.author" required />
            </fieldset>
            <div> reviewForm is {{reviewForm.$valid}}
            <fieldset class="form-group">
              <input class="btn btn-primary pull-right" type="submit" value="Submit Review" />
            </fieldset>
          </form>
        </div>
      </section>

      </li>
    </ul>

  </body>
</html>

